---
---

// Main CSS which overwrites some defaults in bootstrap

$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
    font-size: 15px;
    line-height: 1.6;
    font-family: $font-stack;
    color: #555;
    background: #f6f5f0;
}

blockquote {
    font-size: 14px;
}

div.container {
    background: #FFF;
    border-radius: 10px;
    padding: 12px 10px 10px 15px;
    margin-top: 65px;
}

.navbar-nav > li > a.little-padding {
    padding-bottom: 8px;
    padding-top: 8px;
}

.navbar-brand > img {
    height: 50px;
    width: 50px;
}

.navbar-header a.navbar-brand {
    padding: 0;
}

.url-vertical-banner {
    text-align: center;
    p {
        margin-top: 0;
        font-size: 85px;
        text-transform: uppercase;
        color: #CCC;
    }
}

pre {
    overflow-x: scroll;

    code {
        white-space: pre;
    }
}

a:link,a:visited,a:hover,a:active {
    color: #BD020B;
    text-decoration: none;
}

a:hover {
    color: #FF960B;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: $font-stack;
    font-weight: normal;
    color: #333;
}

.icon > svg {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 32px;
    color: #FFF;
}

.blog-sidebar img {
    display: block;
    margin: auto;
}

.sidebar-logo {
    height: 150px;
    width: 150px;
}

.sidebar-title {
	background: #72934C;
	padding: 10px;
	margin-top: 25px;
    margin-right: -10px;
	color: #FFF;
	text-transform: uppercase;
}

/* Pagination */
.pager {
    text-align: left;
}

.pager > li > a {
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

@import 'date';
@import 'article';

.entry-category-listing {
    background: #e7e7e7;
    padding: 5px 10px;
}

@import 'syntax';

