body {
    font-size:14px;
    line-height:1.6;
    font-family: Helvetica, "Times New Roman", Times, serif;
    color: #555;
    background: #f6f5f0;
}

div.container {
    background:#FFF;
    border-radius:10px;
    padding:10px;
}

.navbar-nav > li > a.little-padding {
    padding-bottom:8px;
    padding-top:8px;
}

.post-content h1 {
    font-size:30px;
}

.post-content h3 {
    font-size:18px;
}

pre {
    overflow-x: scroll;
}

pre code {
    white-space: pre;
}

a:link,a:visited,a:hover,a:active{color:#BD020B;text-decoration:none}
a:hover{color:#FF960B}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}

.icon > svg {
    display: inline-block;
    height: 32px;
    vertical-align: middle;
    width: 32px;
    color:#FFF;
}

.blog-sidebar img {
    display:block;
    margin:auto;
}

.sidebar-logo {
    height: 135px;
    width: 175px;
}

.sidebar-title {
	background:#72934C;
	padding:10px;
	margin-top:25px;
	color:#FFF;
	text-transform:uppercase;
}

/* Pagination */
.pager {
    text-align: left;
}

.pager > li > a {
    padding: 10px 20px;
    text-align: center;
    border-radius: 30px;
}

/* Blog posts */
.blog-post {
    margin-bottom: 60px;
}

.the-date {
    background: #FE9900;
    float: right;
    padding: 4px 0;
    text-align: center;
    margin: 3px 4px;
    color: #FFF;
    border-radius: 10px;
    width: 65px;
}

.the-date div {
    background: #FFF;
    font-size: 25px;
    color: #000;
    width: 65px;
}

.the-date small {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.entry-header {
    background: #326401;
    overflow: hidden;
    padding: 2px 0;
    border-radius: 0 10px 10px 0;
    margin-bottom: 25px;
    line-height: 1;
}

.blog-post h1 {
    font-size: 25px;
    float: left;
    padding-top: 6px;
}

.blog-post h1 a {
    color: #FFF;
}

.blog-post h1 {
    padding-left: 15px;
}

.entry-category-listing {
    background: #e7e7e7;
    padding:5px 10px;
}

