body {
    font-size:14px;
    line-height:1.6;
}

.navbar-nav > li > a.little-padding {
	padding-bottom:8px;
    padding-top:8px;
}

.post-content h1 {
    font-size:30px;
}

.post-content h3 {
    font-size:18px;
}

pre {
    overflow-x: scroll;
}

pre code {
    white-space: pre;
}
