---
layout: default
---

{% for post in paginator.posts %}
<article class="blog-post">
    {% include post-header.html thePost=post %}

    <div class="post-excerpt">
        {{ post.excerpt }}
    </div>

    <footer class="entry-category-listing">
        Categoría(s):
        {% for category in post.categories%}
            <a href="/category/{{ category | slugify }}">{{ category }}</a>{% if forloop.last == false %}, {% endif %}
        {% endfor %}
    </footer>
</article>
{% endfor %}

<ul class="pager">
    {% if paginator.previous_page %}
    <li>
        <a href="{{ paginator.previous_page_path }}">Posts más recientes</a>
    </li>
    {% endif %}
    <!-- <span class="page_number ">&lt; {{ paginator.page }} de {{ paginator.total_pages }} &gt;</span> -->
    {% if paginator.next_page %}
    <li class="pull-right">
        <a href="{{ paginator.next_page_path }}">Posts más antiguos</a>
    </li>
    {% endif %}
</ul>
