---
layout: default
---

{% for post in paginator.posts %}
<div class="blog-post">
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

    <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>

    <article class="post-excerpt">
        {{ post.excerpt }}
    </article>

    <div class="">
        Categoría(s): {{ post.categories | join: ', ' }}
    </div>
</div>
{% endfor %}

<ul class="pager">
    {% if paginator.previous_page %}
    <li>
        <a href="{{ paginator.previous_page_path }}">Posts más recientes</a>
    </li>
    {% endif %}
    <!-- <span class="page_number ">&lt; {{ paginator.page }} de {{ paginator.total_pages }} &gt;</span> -->
    {% if paginator.next_page %}
    <li class="pull-right">
        <a href="{{ paginator.next_page_path }}">Posts más antiguos</a>
    </li>
    {% endif %}
</ul>
