<header class="entry-header">
    <div class="row">
        <div class="col-xs-10">
            <h1 class="entry-title"><a href="{{ include.thePost.url | prepend: site.baseurl }}" rel="bookmark">{{ include.thePost.title }}</a></h1>
        </div>
        {% if include.hideDate == null %}
        <div class="entry-meta col-xs-2">
            <div class="the-date">
                <small>{{ include.thePost.date | date: "%b"}}</small>
                <div>{{ include.thePost.date | date: "%d" }}</div>
                <small>{{ include.thePost.date | date: "%Y" }}</small>
            </div>
        </div>
        {% endif %}
    </div>
</header>
