<img src="/images/unreal4u-logo.jpg" class="img-circle"/>
<p><span class="">Camilo Sperberg</span> es Ingeniero Informático especializado en Linux y PHP. Éste es su blog oficial
y aquí podrá leer mucha más información acerca de temáticas variadas en el bajo mundillo de la informática relacionada
con esos tópicos</p>

<img src="/images/zce_php5-3_logo.gif"/>

<p class="sidebar-subtitle">Yo en Internet</p>
<ul>
    <li><a href="https://twitter.com/unreal4u">Twitter</a></li>
    <li><a href="http://foro.chilehardware.com/">ChileHardware</a></li>
    <li><a href="https://facebook.com/unreal4u">Facebook</a></li>
    <li><a href="https://github.com/unreal4u/">GitHub</a></li>
    <li><a href="https://plus.google.com/+CamiloSperberg/posts">Google+</a></li>
    <li><a href="https://www.youtube.com/user/unreal4u">YouTube</a></li>
    <li><a href="http://www.zend.com/en/yellow-pages/ZEND016746">ZCE</a></li>
</ul>

<p class="sidebar-subtitle">Categorías</p>
<ul>
    {% category_list %}
</ul>
