<a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/assets/unreal4u-logo.png" class="sidebar-logo" /></a>

<h4 class="sidebar-title">Sobre mi</h4>
<span><strong>Camilo Sperberg</strong> es Ingeniero Informático especializado en <strong>Linux</strong> y <strong>PHP</strong>. Éste es su blog oficial
y aquí podrá leer mucha más información acerca de temáticas variadas en el bajo mundillo de la informática relacionada con esos tópicos</span>

<h4 class="sidebar-title">Yo en Internet</h4>
<ul class="list-unstyled">
    <li><a href="https://twitter.com/unreal4u">Twitter</a></li>
    <li><a href="http://www.capa9.net/">capa9.net</a></li>
    <li><a href="https://github.com/unreal4u/">GitHub</a></li>
    <li><a href="https://plus.google.com/+CamiloSperberg/posts">Google+</a></li>
    <li><a href="https://www.youtube.com/user/unreal4u">YouTube</a></li>
    <li><a href="http://www.zend.com/en/yellow-pages/ZEND016746">ZCE</a></li>
</ul>

<h4 class="sidebar-title">Quotes geniales</h4>
<blockquote class="blockquote">
	<p>Because my reality... is just your virtuality</p>
	<footer>Camilo Sperberg</footer>
</blockquote>
<blockquote class="blockquote">
	<p>Debido a la gran cantidad de guiños y referencias relacionadas con el mundo informático, esta sección permanecerá siempre incompleta, al menos hasta que se complete</p>
	<footer>Futurama fan page</footer>
</blockquote>
<blockquote class="blockquote">
	<p>Oh, i'm very confortable with my sexuality, i just don't want to be slapped in the face with THEIR sexuality</p>
	<footer>Roy Trenneman en <cite title="The IT Crowd">The IT Crowd S02E01</cite></footer>
</blockquote>

<h4 class="sidebar-title">Posts más populares</h4>
<ul class="list-unstyled">
    <li>&raquo; <a href="/2012/08/sobre-collation-y-charset-en-mysql/">Sobre collation y charset en MySQL</a></li>
    <li>&raquo; <a href="/2012/08/que-tengo-que-hacer-para-sacar-la-certificacion-en-php/">¿Qué tengo que hacer para sacar la certificación en PHP?</a></li>
    <li>&raquo; <a href="/2011/03/regiones-provincias-y-comunas-de-chile-en-sql/">Regiones, provincias y comunas de Chile en SQL</a></li>
    <li>&raquo; <a href="/2011/02/insert-a-partir-de-un-select-en-una-sola-consulta/">INSERT a partir de un SELECT, en una sola consulta</a></li>
    <li>&raquo; <a href="/2010/09/problemas-en-los-tildes-o-acentos/">¿Problemas en los tildes o acentos?</a></li>
    <li>&raquo; <a href="/2010/08/como-ocupar-ob_start-ob_get_contents-y-otros-relacionados/">Cómo ocupar ob_start(), ob_get_contents() y otros relacionados</a></li>
    <li>&raquo; <a href="/2011/03/sobre-convenciones-y-notaciones-hungara-camelcase-etc/">Sobre convenciones y notaciones (húngara, CamelCase, etc)</a></li>
    <li>&raquo; <a href="/2012/12/las-razones-de-cambiarse-de-svn-a-git/">Las razones de cambiarse de SVN a Git</a></li>
    <li>&raquo; <a href="/2012/03/deberia-comprarme-un-mac-o-pc/">¿Debería comprarme un Mac o un PC?</a></li>
    <li>&raquo; <a href="/2011/01/phpdocumentor-haciendo-una-buena-documentacion-excelente/">phpDocumentor: Haciendo una buena documentación excelente</a></li>
</ul>

