<!DOCTYPE html>
<html lang="es">
{% include head.html %}
<body>
{% include header.html %}
<div class="container">
    <div class="row">
        <div class="col-sm-8 blog-main">
            {{ content }}
        </div>
        <div class="col-sm-1 visible-lg-inline url-vertical-banner">
            <p class="h1">u<br />n<br />r<br />e<br />a<br />l<br />4<br />u<br />.<br />c<br />o<br />m</p>
        </div>
        <div class="col-sm-4 col-lg-3 blog-sidebar">
            {% include sidebar.html %}
        </div>
    </div>
</div>
{% include footer.html %}
</body>
</html>
